<template name="footer">
    <div class="main-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div><strong>About Us</strong></div>
                    <div class="text-muted">Hey there webees! Our playroom is the space where we interact, collaborate and co-create to make great things happen together, and most importantly, have fun! Let's make this space the best place for all of us to hang out. So, let's have an awesome time at webe playroom!</div>
                    <div class="mt-10 text-muted">Psssst: No idea is too small, do drop us a feedback. We can't wait to hear from you! See ya around!</div>
                </div>
                <div class="col-md-2 text-right">
                    <strong>webe playroom © 2016</strong>
                </div>
            </div>
            <div class="pattern">&nbsp;</div>
        </div>
    </div>
</template>
