<template name="homeHead">
    <div id="home-head">
        <div class="container">
            <div class="row">
                <div class="navbar bg-transparent-white no-padding">
                    <div class="navbar-header">
                        <a class="navbar-brand ml-10" href="/"><img src="/images/webe-playroom-beta.png" alt=""></a>

                        <ul class="nav navbar-nav visible-xs-block">
                            <li>
                                <a class="sidebar-mobile-main-toggle text-white logout-btn" style="background-color:transparent;"><i class="icon-user-lock"></i></a>
                            </li>
                            <li>
                                <a href="/profile" class="sidebar-mobile-main-toggle text-white" style="background-color:transparent;"><i class="icon-gear"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-top">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <button id=feedback style="background-color:transparent; border:none"><span><i class="icon-bubble-lines3"></i></span></button> -->
                            <li class="dropdown dropdown-user">
                                <a class="dropdown-toggle" data-toggle="dropdown" style="color:white;background-color:transparent;">
                                    <i class="icon-user position-left"></i>
                                    <span>{{currentUser.profile.nickName}}</span>
                                </a>

                                <ul id="logout-toggle" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="/profile"><i class="icon-gear"></i> My profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#logout" class="logout-btn"><i class="icon-switch2"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- {{> feedback}} -->
            <!-- {{> chatBoard}} -->
        </div>
    </div>
</template>
